<ion-header translucent>
	<ion-toolbar>
		<ion-title>{{employee.employee_name}}</ion-title>
		<ion-buttons slot="end">
			<ion-button
				(click)='employee?.profile_image ? dismissModal(employee.profile_image) : dismissModal(null)'
				slot='icon-only'>
				<ion-icon name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col class='ion-text-center'>
				<ion-img
					*ngIf='employee?.profile_image'
					[src]=employee?.profile_image
					style='height: 40vw;'></ion-img>
				<ion-img
					*ngIf='!employee?.profile_image'
					src='https://ui-avatars.com/api/?name={{employee?.employee_name}}&background=f40954&color=fff'
					style='height: 40vw;'></ion-img>
			</ion-col>
		</ion-row>
		<ion-row class='ion-no-margin ion-no-padding'>
			<ion-col class='ion-text-center ion-no-margin ion-no-padding'>
				<ion-button class='ion-no-margin ion-no-padding' fill='clear' (click)='editProfileImage()'>Change
					profile picture
					<ion-icon slot='start' name='create'></ion-icon>
				</ion-button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<form novalidate>
					<ion-list lines='full'>
						<ion-list-header>
							<ion-label><b>Profile</b></ion-label>
						</ion-list-header>
						<ion-item>
							<ion-label position="floating">First Name</ion-label>
							<ion-input
								type='text' [clearInput]='true' inputmode='text' [disabled]='true'
								[value]='employee.employee_name.split(" ")[0]'></ion-input>
						</ion-item>
						<ion-item>
							<ion-label position="floating">Last Name</ion-label>
							<ion-input
								type='text' [clearInput]='true' inputmode='text' [disabled]='true'
								[value]='employee.employee_name.split(" ")[1]'></ion-input>
						</ion-item>
						<ion-item>
							<ion-label position="floating">Age</ion-label>
							<ion-input
								type='number' [clearInput]='true' inputmode='numeric' [disabled]='true'
								[value]='employee.employee_age'></ion-input>
						</ion-item>
						<ion-item>
							<ion-label position="floating">Salary</ion-label>
							<ion-input
								type='number' [clearInput]='true' inputmode='numeric' [disabled]='true'
								[value]='employee.employee_salary'></ion-input>
						</ion-item>
					</ion-list>
				</form>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
